Repository XenitAB/azure-terraform-example: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml

.ci/pipeline-tf-governance.yml:

variables:
  azureSubscription: 'azureRm'
  tfVersion: "0.12.16"
  vmImage: 'ubuntu-latest'
  tfFolderName: 'tf-governance'

name: $(Build.BuildId)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - tf-governance

stages:
  - template: templates/pipeline.yml

.ci/pipeline-tf-infra-core.yml:

variables:
  azureSubscription: 'azureRm'
  tfVersion: "0.12.16"
  vmImage: 'ubuntu-latest'
  tfFolderName: 'tf-core-infra'

name: $(Build.BuildId)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - tf-core-infra

stages:
  - template: templates/pipeline.yml

Add empty var-files
  tf-governance/variables/prod.tfvars
  tf-governance/variables/qa.tfvars
Due: .ci/pipeline-tf-governance.yml

Update readme
  README.md
Due: none

Add boilerplate
  .ci/pipeline-tf-boilerplate.yml
  README.md
  tf-boilerplate/main.tf
  tf-boilerplate/variables/dev.tfvars
  tf-boilerplate/variables/prod.tfvars
  tf-boilerplate/variables/qa.tfvars
Due: none

Add common variable file
  .ci/Invoke-PipelineTask.ps1
  tf-boilerplate/variables/common.tfvars
  tf-core-infra/variables/common.tfvars
  tf-core-infra/variables/dev.tfvars
  tf-core-infra/variables/prod.tfvars
  tf-core-infra/variables/qa.tfvars
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml

Fix environmentShort
  tf-core-infra/variables/common.tfvars
  tf-core-infra/variables/dev.tfvars
  tf-core-infra/variables/prod.tfvars
  tf-core-infra/variables/qa.tfvars
Due: .ci/pipeline-tf-infra-core.yml

Add variables to governance
  tf-governance/variables.tf
  tf-governance/variables/common.tfvars
  tf-governance/variables/dev.tfvars
  tf-governance/variables/prod.tfvars
  tf-governance/variables/qa.tfvars
Due: .ci/pipeline-tf-governance.yml

Add some governance config
  tf-governance/aadgroup.tf
  tf-governance/main.tf
  tf-governance/rg.tf
  tf-governance/variables.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Update azurerm to 1.37.0
  tf-boilerplate/main.tf
  tf-core-infra/main.tf
  tf-governance/main.tf
Due: .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml

Update azuread to 0.7.0
  tf-governance/main.tf
Due: .ci/pipeline-tf-governance.yml

Add owner, contributor and reader groups
  tf-governance/aadgroup.tf
Due: .ci/pipeline-tf-governance.yml

Update core-infra to use data source of rg
  tf-core-infra/keyVault.tf
  tf-core-infra/nsg.tf
  tf-core-infra/rg.tf
  tf-core-infra/subnets.tf
  tf-core-infra/vnet.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml

Update README.md
  README.md
Due: none

Change from count to for_each
  tf-core-infra/nsg.tf
  tf-core-infra/subnets.tf
  tf-governance/aadgroup.tf
  tf-governance/rg.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml

Clean up test
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Add service principals
  tf-governance/sp.tf
Due: .ci/pipeline-tf-governance.yml

Create aks from boilerplate
  .ci/pipeline-tf-aks.yml
  tf-aks/main.tf
  tf-aks/variables/common.tfvars
  tf-aks/variables/dev.tfvars
  tf-aks/variables/prod.tfvars
  tf-aks/variables/qa.tfvars
Due: none

Add aks resource group
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Change what branch to use before PR
  .ci/pipeline-tf-aks.yml
Due: none

Add encryption to terraform plan
  .ci/Invoke-PipelineTask.ps1
  .ci/templates/build.yml
  .ci/templates/deploy.yml
Due: none

Initial conf for aks
  tf-aks/aks.tf
  tf-aks/kv.tf
  tf-aks/rg.tf
  tf-aks/sp.tf
  tf-aks/variables.tf
  tf-aks/variables/common.tfvars
  tf-aks/variables/dev.tfvars
  tf-aks/variables/prod.tfvars
  tf-aks/variables/qa.tfvars
Due: none

Update variables
  .ci/pipeline-tf-aks.yml
  .ci/pipeline-tf-boilerplate.yml
  .ci/pipeline-tf-governance.yml
  .ci/pipeline-tf-infra-core.yml
  .ci/templates/build.yml
  .ci/templates/deploy.yml
Due: none

Print version of open ssl
  .ci/Invoke-PipelineTask.ps1
Due: none

Move version
  .ci/Invoke-PipelineTask.ps1
Due: none

Check version of openssl
  .ci/Invoke-PipelineTask.ps1
Due: none

Fix version casting
  .ci/Invoke-PipelineTask.ps1
Due: none

Remove non numberic from version
  .ci/Invoke-PipelineTask.ps1
Due: none

Remove exit
  .ci/Invoke-PipelineTask.ps1
Due: none

Temporarly disable qa/prod
  .ci/templates/pipeline.yml
Due: none

Move openssl check
  .ci/Invoke-PipelineTask.ps1
Due: none

Fix rbac
  tf-aks/README.md
  tf-aks/aadApp.tf
  tf-aks/aks.tf
  tf-aks/k8sNs.tf
  tf-aks/kv.tf
  tf-aks/main.tf
  tf-aks/rg.tf
  tf-aks/sp.tf
  tf-aks/variables.tf
  tf-aks/variables/common.tfvars
  tf-aks/variables/dev.tfvars
  tf-aks/variables/prod.tfvars
  tf-aks/variables/qa.tfvars
Due: none

Tips och trix commit
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

.
  tf-aks/aadGroup.tf
  tf-aks/k8sCrb.tf
  tf-aks/k8sRb.tf
  tf-aks/k8sSa.tf
  tf-aks/keyVault.tf
  tf-aks/main.tf
Due: none

Configure rb and sa
  tf-aks/README.md
  tf-aks/k8sNs.tf
  tf-aks/k8sRb.tf
  tf-aks/k8sSa.tf
  tf-aks/keyVault.tf
  tf-aks/variables.tf
  tf-aks/variables/common.tfvars
Due: none

Uncomment qa and prod
  .ci/templates/pipeline.yml
Due: none

AKS and artifact encryption (#2)
  .ci/Invoke-PipelineTask.ps1
  .ci/pipeline-tf-aks.yml
  .ci/pipeline-tf-governance.yml
  .ci/pipeline-tf-infra-core.yml
  .ci/templates/build.yml
  .ci/templates/deploy.yml
  README.md
  tf-aks/README.md
  tf-aks/aadApp.tf
  tf-aks/aadGroup.tf
  tf-aks/aks.tf
  tf-aks/k8sCrb.tf
  tf-aks/k8sNs.tf
  tf-aks/k8sRb.tf
  tf-aks/k8sSa.tf
  tf-aks/main.tf
  tf-aks/rg.tf
  tf-aks/variables.tf
  tf-aks/variables/common.tfvars
  tf-aks/variables/dev.tfvars
  tf-aks/variables/prod.tfvars
  tf-aks/variables/qa.tfvars
Due: none
