Repository XenitAB/azure-terraform-example: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline-tf-aks.yml, .ci/pipeline-tf-boilerplate.yml, .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml

.ci/pipeline-tf-aks.yml:

variables:
  - group: terraform-encryption
  - name: azureSubscription
    value: 'azureRm'
  - name: tfVersion
    value: '0.12.16'
  - name: vmImage
    value: 'ubuntu-latest'
  - name: tfFolderName
    value: 'tf-aks'

name: $(Build.BuildId)

trigger:
  batch: true
  branches:
    include:
      - aks
  paths:
    include:
      - tf-aks

stages:
  - template: templates/pipeline.yml

.ci/pipeline-tf-boilerplate.yml:

variables:
  azureSubscription: 'azureRm'
  tfVersion: "0.12.16"
  vmImage: 'ubuntu-latest'
  tfFolderName: 'tf-boilerplate'

name: $(Build.BuildId)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - tf-boilerplate

stages:
  - template: templates/pipeline.yml

.ci/pipeline-tf-governance.yml:

variables:
  azureSubscription: 'azureRm'
  tfVersion: "0.12.16"
  vmImage: 'ubuntu-latest'
  tfFolderName: 'tf-governance'

name: $(Build.BuildId)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - tf-governance

stages:
  - template: templates/pipeline.yml

.ci/pipeline-tf-infra-core.yml:

variables:
  azureSubscription: 'azureRm'
  tfVersion: "0.12.16"
  vmImage: 'ubuntu-latest'
  tfFolderName: 'tf-core-infra'

name: $(Build.BuildId)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - tf-core-infra

stages:
  - template: templates/pipeline.yml

Update trigger branch for aks
  .ci/pipeline-tf-aks.yml
Due: none

Update common.tfvars
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Configure k8s version
  tf-aks/aks.tf
Due: .ci/pipeline-tf-aks.yml

Add ability to use destroy locally
  .ci/Invoke-PipelineTask.ps1
Due: none

Add ACR to tf-aks
  tf-aks/acr.tf
  tf-aks/aks.tf
  tf-aks/aksSp.tf
Due: .ci/pipeline-tf-aks.yml

Update group names for governance
  tf-governance/aadgroup.tf
  tf-governance/main.tf
  tf-governance/rg.tf
  tf-governance/sp.tf
  tf-governance/variables.tf
Due: .ci/pipeline-tf-governance.yml

Update group names for aks
  tf-aks/aadGroup.tf
Due: .ci/pipeline-tf-aks.yml

Update aks
  tf-aks/acr.tf
  tf-aks/aks.tf
  tf-aks/aksSp.tf
  tf-governance/variables/dev.tfvars
Due: .ci/pipeline-tf-aks.yml, .ci/pipeline-tf-governance.yml

Add vm rg
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Initial vm deploy
  .ci/pipeline-tf-vm.yml
  tf-vm/kv.tf
  tf-vm/main.tf
  tf-vm/rg.tf
  tf-vm/subnet.tf
  tf-vm/variables.tf
  tf-vm/variables/common.tfvars
  tf-vm/variables/dev.tfvars
  tf-vm/variables/prod.tfvars
  tf-vm/variables/qa.tfvars
  tf-vm/vm.tf
Due: none

Change from random_string to random_password
  tf-aks/aadApp.tf
Due: .ci/pipeline-tf-aks.yml

Change from random_string to random_password
  tf-vm/vm.tf
Due: none

Fix special characters
  tf-aks/aadApp.tf
Due: .ci/pipeline-tf-aks.yml

Add availability zone
  tf-vm/variables.tf
  tf-vm/variables/common.tfvars
  tf-vm/vm.tf
Due: none

Make it possible to import resources using the powershell script
  .ci/Invoke-PipelineTask.ps1
Due: none

Add deprecated nsg reference
  tf-core-infra/subnets.tf
Due: .ci/pipeline-tf-infra-core.yml

Add Citrix ADM Agent
  .ci/pipeline-tf-ctxadm.yml
  tf-ctxadm/README.md
  tf-ctxadm/kv.tf
  tf-ctxadm/main.tf
  tf-ctxadm/rg.tf
  tf-ctxadm/subnet.tf
  tf-ctxadm/variables.tf
  tf-ctxadm/variables/common.tfvars
  tf-ctxadm/variables/dev.tfvars
  tf-ctxadm/variables/prod.tfvars
  tf-ctxadm/variables/qa.tfvars
  tf-ctxadm/vm.tf
Due: none

Add new rgs
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Add initial Citrix ADC configuration
  tf-ctxadc/README.md
  tf-ctxadc/alb.tf
  tf-ctxadc/kv.tf
  tf-ctxadc/main.tf
  tf-ctxadc/nics.tf
  tf-ctxadc/pip.tf
  tf-ctxadc/rg.tf
  tf-ctxadc/subnet.tf
  tf-ctxadc/variables.tf
  tf-ctxadc/variables/common.tfvars
  tf-ctxadc/variables/dev.tfvars
  tf-ctxadc/variables/prod.tfvars
  tf-ctxadc/variables/qa.tfvars
  tf-ctxadc/vm.tf
Due: none

Update Citrix ADC config
  tf-ctxadc/alb.tf
  tf-ctxadc/insideAlb.tf
  tf-ctxadc/nics.tf
  tf-ctxadc/outsideAlb.tf
  tf-ctxadc/variables.tf
  tf-ctxadc/variables/common.tfvars
  tf-ctxadc/variables/dev.tfvars
  tf-ctxadc/variables/prod.tfvars
  tf-ctxadc/variables/qa.tfvars
Due: none

Update citrix adc config
  tf-ctxadc/insideAlb.tf
  tf-ctxadc/nics.tf
  tf-ctxadc/outsideAlb.tf
  tf-ctxadc/variables/common.tfvars
  tf-ctxadc/vm.tf
Due: none

Two ADCs
  tf-ctxadc/variables/common.tfvars
Due: none

Citrix ADC (#3)
  tf-ctxadc/README.md
  tf-ctxadc/insideAlb.tf
  tf-ctxadc/kv.tf
  tf-ctxadc/main.tf
  tf-ctxadc/nics.tf
  tf-ctxadc/outsideAlb.tf
  tf-ctxadc/pip.tf
  tf-ctxadc/rg.tf
  tf-ctxadc/subnet.tf
  tf-ctxadc/variables.tf
  tf-ctxadc/variables/common.tfvars
  tf-ctxadc/variables/dev.tfvars
  tf-ctxadc/variables/prod.tfvars
  tf-ctxadc/variables/qa.tfvars
  tf-ctxadc/vm.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Remove IPs
  tf-ctxadc/variables/dev.tfvars
  tf-ctxadc/variables/prod.tfvars
  tf-ctxadc/variables/qa.tfvars
Due: none

Fix be pool association
  tf-ctxadc/nics.tf
Due: none

Update lb rules
  tf-ctxadc/insideAlb.tf
  tf-ctxadc/outsideAlb.tf
  tf-ctxadc/vm.tf
Due: none

Update terraform version
  .ci/Invoke-PipelineTask.ps1
Due: none

Update providers
  tf-aks/main.tf
  tf-boilerplate/main.tf
  tf-core-infra/main.tf
  tf-ctxadc/main.tf
  tf-ctxadm/main.tf
  tf-governance/main.tf
  tf-vm/main.tf
Due: .ci/pipeline-tf-aks.yml, .ci/pipeline-tf-boilerplate.yml, .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml

Update AKS readme
  tf-aks/README.md
Due: .ci/pipeline-tf-aks.yml

Add tf-aks-vnet
  tf-aks-vnet/README.md
  tf-aks-vnet/aadApp.tf
  tf-aks-vnet/aadGroup.tf
  tf-aks-vnet/acr.tf
  tf-aks-vnet/aks.tf
  tf-aks-vnet/backupStorage.tf
  tf-aks-vnet/delegateAksRg.tf
  tf-aks-vnet/dns.tf
  tf-aks-vnet/k8sCr.tf
  tf-aks-vnet/k8sCrb.tf
  tf-aks-vnet/k8sNs.tf
  tf-aks-vnet/k8sRb.tf
  tf-aks-vnet/k8sSa.tf
  tf-aks-vnet/kv.tf
  tf-aks-vnet/main.tf
  tf-aks-vnet/net.tf
  tf-aks-vnet/rg.tf
  tf-aks-vnet/ssh.tf
  tf-aks-vnet/variables.tf
  tf-aks-vnet/variables/common.tfvars
  tf-aks-vnet/variables/dev.tfvars
  tf-aks-vnet/variables/prod.tfvars
  tf-aks-vnet/variables/qa.tfvars
Due: none

Update tf-core-infra
  tf-core-infra/README.md
  tf-core-infra/keyVault.tf
  tf-core-infra/nsg.tf
  tf-core-infra/subnets.tf
  tf-core-infra/variables.tf
  tf-core-infra/variables/common.tfvars
  tf-core-infra/variables/dev.tfvars
  tf-core-infra/variables/prod.tfvars
  tf-core-infra/variables/qa.tfvars
  tf-core-infra/vnet.tf
Due: .ci/pipeline-tf-infra-core.yml

Update tf-governance
  tf-governance/README.md
  tf-governance/aadgroup.tf
  tf-governance/delegateAcr.tf
  tf-governance/kv.tf
  tf-governance/rg.tf
  tf-governance/sp.tf
  tf-governance/spSubReader.tf
  tf-governance/variables.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Add conditions for environments and update tf
  .ci/pipeline-tf-aks.yml
  .ci/pipeline-tf-boilerplate.yml
  .ci/pipeline-tf-ctxadm.yml
  .ci/pipeline-tf-governance.yml
  .ci/pipeline-tf-infra-core.yml
  .ci/pipeline-tf-vm.yml
  .ci/templates/build.yml
  .ci/templates/deploy.yml
  .ci/templates/pipeline.yml
Due: none

Add aks-vnet pipeline
  .ci/pipeline-tf-aks-vnet.yml
Due: none

Update readme with additional resources
  tf-aks-vnet/README.md
Due: none

Stop checking for version of openssl
  .ci/Invoke-PipelineTask.ps1
Due: none

Update tf version
  .ci/Invoke-PipelineTask.ps1
Due: none

Add snapshots to storage account blob
  .ci/Invoke-PipelineTask.ps1
Due: none

Update terraform from 0.12.19 to 0.12.21
  .ci/Invoke-PipelineTask.ps1
  .ci/pipeline-tf-aks-vnet.yml
  .ci/pipeline-tf-aks.yml
  .ci/pipeline-tf-boilerplate.yml
  .ci/pipeline-tf-ctxadm.yml
  .ci/pipeline-tf-governance.yml
  .ci/pipeline-tf-infra-core.yml
  .ci/pipeline-tf-vm.yml
Due: none

Update terraform from 0.12.19 to 0.12.21 (#5)
  .ci/Invoke-PipelineTask.ps1
  .ci/pipeline-tf-aks-vnet.yml
  .ci/pipeline-tf-aks.yml
  .ci/pipeline-tf-boilerplate.yml
  .ci/pipeline-tf-ctxadm.yml
  .ci/pipeline-tf-governance.yml
  .ci/pipeline-tf-infra-core.yml
  .ci/pipeline-tf-vm.yml
Due: none
