Repository XenitAB/azure-terraform-example: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline-tf-aks.yml, .ci/pipeline-tf-boilerplate.yml, .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml, .ci/pipeline-tf-vm.yml

.ci/pipeline-tf-aks.yml:
  name: $(Build.BuildId)
  stages:
  - template: templates/pipeline.yml

.ci/pipeline-tf-boilerplate.yml:
  name: $(Build.BuildId)
  stages:
  - template: templates/pipeline.yml

.ci/pipeline-tf-governance.yml:
  name: $(Build.BuildId)
  stages:
  - template: templates/pipeline.yml

.ci/pipeline-tf-infra-core.yml:
  name: $(Build.BuildId)
  stages:
  - template: templates/pipeline.yml

.ci/pipeline-tf-vm.yml:
  name: $(Build.BuildId)
  stages:
  - template: templates/pipeline.yml

Add opa to pipelines
  .ci/Invoke-PipelineTask.ps1
  .ci/templates/build.yml
Due: none

Add opa policies
  opa-policies/data.json
  opa-policies/terraform.rego
  opa-policies/test_azuread_application_password.rego
  opa-policies/test_azuread_group.rego
  opa-policies/test_azurerm_container_registry.rego
  opa-policies/test_azurerm_kubernetes_cluster.rego
  opa-policies/test_azurerm_storage_account.rego
  opa-policies/test_azurerm_virtual_machine.rego
  opa-policies/test_azurerm_virtual_network.rego
  opa-policies/test_kubernetes_namespace.rego
  opa-policies/test_kubernetes_service_account.rego
Due: none

Opa policies (#6)
  .ci/Invoke-PipelineTask.ps1
  .ci/templates/build.yml
  opa-policies/data.json
  opa-policies/terraform.rego
  opa-policies/test_azuread_application_password.rego
  opa-policies/test_azuread_group.rego
  opa-policies/test_azurerm_container_registry.rego
  opa-policies/test_azurerm_kubernetes_cluster.rego
  opa-policies/test_azurerm_storage_account.rego
  opa-policies/test_azurerm_virtual_machine.rego
  opa-policies/test_azurerm_virtual_network.rego
  opa-policies/test_kubernetes_namespace.rego
  opa-policies/test_kubernetes_service_account.rego
Due: none

Update azurerm provider from 1.40.0 to 2.0.0
  tf-aks-vnet/main.tf
  tf-aks/main.tf
  tf-boilerplate/main.tf
  tf-core-infra/main.tf
  tf-ctxadc/main.tf
  tf-ctxadm/main.tf
  tf-governance/main.tf
  tf-vm/main.tf
Due: .ci/pipeline-tf-aks.yml, .ci/pipeline-tf-boilerplate.yml, .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml, .ci/pipeline-tf-vm.yml

Update azurerm provider from 1.40.0 to 2.0.0 (#7)
  tf-aks-vnet/main.tf
  tf-aks/main.tf
  tf-boilerplate/main.tf
  tf-core-infra/main.tf
  tf-ctxadc/main.tf
  tf-ctxadm/main.tf
  tf-governance/main.tf
  tf-vm/main.tf
Due: .ci/pipeline-tf-aks.yml, .ci/pipeline-tf-boilerplate.yml, .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml, .ci/pipeline-tf-vm.yml

Update core-infra
  tf-core-infra/delegateServiceEndpointJoin.tf
  tf-core-infra/keyVault.tf
  tf-core-infra/main.tf
  tf-core-infra/subnets.tf
  tf-core-infra/variables.tf
  tf-core-infra/variables/common.tfvars
  tf-core-infra/variables/dev.tfvars
  tf-core-infra/variables/prod.tfvars
  tf-core-infra/variables/qa.tfvars
  tf-core-infra/vnet.tf
  tf-core-infra/vpn.tf
  tf-core-infra/vpnCon.tf
Due: .ci/pipeline-tf-infra-core.yml

Update core-infra (#8)
  tf-core-infra/delegateServiceEndpointJoin.tf
  tf-core-infra/keyVault.tf
  tf-core-infra/main.tf
  tf-core-infra/subnets.tf
  tf-core-infra/variables.tf
  tf-core-infra/variables/common.tfvars
  tf-core-infra/variables/dev.tfvars
  tf-core-infra/variables/prod.tfvars
  tf-core-infra/variables/qa.tfvars
  tf-core-infra/vnet.tf
  tf-core-infra/vpn.tf
  tf-core-infra/vpnCon.tf
Due: .ci/pipeline-tf-infra-core.yml

Update governance
  tf-governance/delegateKv.tf
  tf-governance/delegateKvSp.tf
  tf-governance/delegateSe.tf
  tf-governance/main.tf
  tf-governance/sp.tf
  tf-governance/variables.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Update governance (#9)
  tf-governance/delegateKv.tf
  tf-governance/delegateKvSp.tf
  tf-governance/delegateSe.tf
  tf-governance/main.tf
  tf-governance/sp.tf
  tf-governance/variables.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Update aks
  tf-aks-vnet/aks.tf
  tf-aks-vnet/backupStorage.tf
  tf-aks-vnet/k8sAksSubnetId.tf
  tf-aks-vnet/k8sCr.tf
  tf-aks-vnet/k8sCrbListNs.tf
  tf-aks-vnet/k8sOutboundIpsSecret.tf
  tf-aks-vnet/main.tf
  tf-aks-vnet/variables/common.tfvars
Due: none

Update aks-vnet (#10)
  tf-aks-vnet/aks.tf
  tf-aks-vnet/backupStorage.tf
  tf-aks-vnet/k8sAksSubnetId.tf
  tf-aks-vnet/k8sCr.tf
  tf-aks-vnet/k8sCrbListNs.tf
  tf-aks-vnet/k8sOutboundIpsSecret.tf
  tf-aks-vnet/main.tf
  tf-aks-vnet/variables/common.tfvars
Due: none

Add ASC
  .ci/pipeline-tf-asc.yml
  tf-asc/arm/asc.json
  tf-asc/arm/asc.parameters.json
  tf-asc/main.tf
  tf-asc/rg.tf
  tf-asc/variables.tf
  tf-asc/variables/common.tfvars
  tf-asc/variables/dev.tfvars
  tf-asc/variables/prod.tfvars
  tf-asc/variables/qa.tfvars
  tf-asc/workspace.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Add ASC (#11)
  .ci/pipeline-tf-asc.yml
  tf-asc/arm/asc.json
  tf-asc/arm/asc.parameters.json
  tf-asc/main.tf
  tf-asc/rg.tf
  tf-asc/variables.tf
  tf-asc/variables/common.tfvars
  tf-asc/variables/dev.tfvars
  tf-asc/variables/prod.tfvars
  tf-asc/variables/qa.tfvars
  tf-asc/workspace.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Update terraform from 0.12.21 to 0.12.24
  .ci/pipeline-tf-aks-vnet.yml
  .ci/pipeline-tf-aks.yml
  .ci/pipeline-tf-asc.yml
  .ci/pipeline-tf-boilerplate.yml
  .ci/pipeline-tf-ctxadm.yml
  .ci/pipeline-tf-governance.yml
  .ci/pipeline-tf-infra-core.yml
  .ci/pipeline-tf-vm.yml
Due: none

Add azure pipelines agent
  .ci/pipeline-tf-azpipelines.yml
  tf-azpipelines/alb.tf
  tf-azpipelines/files/ignition.yaml
  tf-azpipelines/image.tf
  tf-azpipelines/kv.tf
  tf-azpipelines/main.tf
  tf-azpipelines/rg.tf
  tf-azpipelines/ssh.tf
  tf-azpipelines/subnet.tf
  tf-azpipelines/variables.tf
  tf-azpipelines/variables/common.tfvars
  tf-azpipelines/variables/dev.tfvars
  tf-azpipelines/variables/prod.tfvars
  tf-azpipelines/variables/qa.tfvars
  tf-azpipelines/vm.tf
Due: none

Change from gunzip to unxz
  tf-azpipelines/image.tf
Due: none

Remove password generation
  tf-azpipelines/vm.tf
Due: none

Fix agent-02 pre start
  tf-azpipelines/files/ignition.yaml
Due: none

Change azp agent image
  tf-azpipelines/files/ignition.yaml
  tf-azpipelines/variables.tf
  tf-azpipelines/variables/common.tfvars
  tf-azpipelines/vm.tf
Due: none

Update azurerm provider from 2.0.0 to 2.3.0
  tf-aks-vnet/main.tf
  tf-aks/main.tf
  tf-asc/main.tf
  tf-azpipelines/main.tf
  tf-boilerplate/main.tf
  tf-core-infra/main.tf
  tf-ctxadc/main.tf
  tf-ctxadm/main.tf
  tf-governance/main.tf
  tf-vm/main.tf
Due: .ci/pipeline-tf-aks.yml, .ci/pipeline-tf-boilerplate.yml, .ci/pipeline-tf-governance.yml, .ci/pipeline-tf-infra-core.yml, .ci/pipeline-tf-vm.yml

Update azuread provider from 0.7.0 to 0.8.0
  tf-aks-vnet/main.tf
  tf-aks/main.tf
  tf-governance/main.tf
Due: .ci/pipeline-tf-aks.yml, .ci/pipeline-tf-governance.yml

Update tf from 0.12.21 to 0.12.24
  .ci/Invoke-PipelineTask.ps1
Due: none

Refactor terraform init
  .ci/Invoke-PipelineTask.ps1
Due: none

Make AKS configuration variables
  tf-aks-vnet/aks.tf
  tf-aks-vnet/k8sOutboundIpsSecret.tf
  tf-aks-vnet/variables.tf
  tf-aks-vnet/variables/dev.tfvars
  tf-aks-vnet/variables/prod.tfvars
  tf-aks-vnet/variables/qa.tfvars
Due: none

Update governance to create kv for core infra
  tf-governance/README.md
  tf-governance/delegateKvSp.tf
  tf-governance/kv.tf
  tf-governance/sp.tf
  tf-governance/spSubReader.tf
  tf-governance/variables/common.tfvars
Due: .ci/pipeline-tf-governance.yml

Move kv creation to governance
  tf-core-infra/keyVault.tf
  tf-core-infra/nsg.tf
  tf-core-infra/subnets.tf
Due: .ci/pipeline-tf-infra-core.yml

Path conditions:
  .ci/pipeline-tf-aks.yml: any of: tf-aks
  .ci/pipeline-tf-boilerplate.yml: any of: tf-boilerplate
  .ci/pipeline-tf-governance.yml: any of: tf-governance
  .ci/pipeline-tf-infra-core.yml: any of: tf-core-infra
  .ci/pipeline-tf-vm.yml: any of: tf-vm
